html, body {
margin: 0;
background-color: #000;
font-family:  Helvetica, Arial, sans-serif;
font-size: 12px;
}
body {
width: 18em;
background-color: #fff;
}
h1 {
font-size: 1.2em;
width: 100%;
padding: 0.25em;
margin: 0;
background-color: #00559f;
color: #fff;
box-sizing: border-box;
}
div {
display: none;
padding-bottom: 0.25em;
}
div.active,
div.active div,
div#account {
display: block;
}
summary {
outline: none;
padding: 0.5em 0 0 0.5em;
}
details p {
margin: 0;
padding: 0.25em 0 0 1.6em;
}
input {
margin: 1.25em 0 0.25em 0.5em;
padding: 0.75em;
}
label {
padding: 0 0 0 0.5em;
}
li, input:not(:disabled), label {
cursor: pointer;
}
input:disabled + label {
opacity: 0.25;
cursor: default;
}
ul { 
margin: 0 0.25em 0 -0.35em;
list-style: none;
padding-left: 1.8em;
}
div#settings ul {
display: none;
}
ul input {
margin: 0.5em 0 0 0.5em;
}
div#settings input:checked ~ ul {
display: block;
}
#active + label::before {
content: "Activate extension for this tab";
}
#active:checked + label::before {
content: "Extension activated for this tab";
font-weight: bold;
color: #00559f;
}
#active ~ div {
opacity: 0.25;
pointer-events: none;
cursor: default;
}
#active:checked ~ div,
#active ~ div:last-of-type {
opacity: 1;
pointer-events: auto;
}
#active:checked ~ div li,
button:not([disabled]),
summary {
cursor: pointer;
}
#colourize:checked + label::after {
content: ":";
}

#account {
position: relative;
text-align: right;
margin-top: 0.5em;
background-color: #7ab2dc;
min-height: 2.25em
}
details {
text-align: left;
}
summary button {
margin-left: 0.4em;
}
details p,
details ul {
width: 14em;
margin: 0.5em 0 0.25em 0.5em;
list-style: disc;
}
details ul {
padding-left: 40px;
}
details p {
margin-left: 1em;
}
details ~ button {
position: absolute;
right: 0;
top: 0.4em;
}
button {
width: 33%;
margin-right: 11%;
}
span + button {
margin-top: 0.5em;
}
span {
position: relative;
top: 0.35em;
width: 50%;
display: inline-block;
margin-right:3%;
text-align: center;
overflow: hidden;
text-overflow: ellipsis;
}
#account.unregistered {
background-color: #f90;
}

#connect {
position: relative;
background-image: url(../img/todo.png);
/* <positioning for Cancel button*/
padding-bottom: 2em;
}
#connect button {
position: absolute;
bottom: 0;
right: 0;
}
/* positioning> */
#connect h2 {
font-size: 1.2em;
margin-left: 1.5em;
}
#connect li {
position: relative;
margin-top: 1em;
}
#connect input:not([type=checkbox]) {
padding: 0.3em;
width: 13em;
}
#eye {
display: none;
}
#eye + label {
position: absolute;
background-image: url(../img/eye-off.png);
right: 0px;
bottom: 0;
width: 24px;
height: 24px;
background-repeat: no-repeat;
}
#eye:checked + label {
background-image: url(../img/eye-on.png);
}
#error {
color: #c00;
margin: 0.5em 2em;
display: none;
}
#error.feedback {
display: block;
}
#connect.login .register,
#connect.register .login {
display: none;
}

/* TEMPORARY HACK UNTIL FEATURE IS IMPLEMENTED */
#login.active ~ #account button,
#register.active ~ #account button {
  opacity: 0.25;
  pointer-events: none;
  cursor: default;
}