body, html {
margin: 0;
height: 100%;
}

/* TOOLBAR */
#lx-toolbar {
background-color: #ccf;
height: 36px;
width: 100%;
}

main {
  
}

/* SELECTION */
#full-text {
border: 1px solid #bbb;
border-right-color: #ddd;
border-bottom-color: #ddd;
max-height: 5em;
background-color: #ccc;
color: #000;
margin: 0.5em;
overflow: auto;
}

.no-select { 
-webkit-touch-callout: none;
-webkit-user-select: none;
user-select: none;
}